[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=ComicSight
GenericName=Comic Book Viewer
Comment=A viewer for comic book archives
Type=Application
Terminal=false
Exec=comicsight %f
Icon=comicsight
Categories=Application;Viewer;Graphics;2DGraphics;
MimeType=application/x-cbz;application/x-cbr;application/x-cbt;application/x-cb7;
